body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
    background-color: #000;
}

.container-fluid.main {
    height: 100%;
    width: 100%;
    background-color: #000;
    margin: 0;
}

.main-row {
    height: 100%;
    margin: 0;
}

.main-row .item {
    position: relative;
    top: 30%;
    height: 5rem;
    z-index: 99;
}

.find-more-btn {
    border-radius: 300px;
}

.img-fluid{
    max-width: 100%;
}

.find-more-btn:hover{
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: #fff;
}



